// GLOBAL

.chart-item {
  float: left;
  width: 100%;
  padding: 0.5rem;
  @include media(small-up) {
    .chart-group-2 & {
      width: calc(100% / 2);
    }
    .chart-group-3 & {
      min-width: 16rem;
      width: calc(100% / 3);
    }
    .chart-group-4 & {
      width: calc(100% / 4);
    }
  }
}

.chart-title {
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-transform: uppercase;
  font-weight: $base-font-bold;
  text-align: center;
  margin-bottom: 1rem;
}

.chart {
  width: 100%;
  display: block;

  .axis text {
    font-size: 0.750rem;
  }

  .axis-lines {
    stroke: #ccc;
    stroke-width: 1px;
  }

  .x.axis {
    .tick line {
      display: none;
    }
    .domain {
      display: none;
    }
  }
}

.lineChart, .barChart, .scatterplotChart {
  min-height: 300px;
}

.lineChart {
  .area {
    fill: $primary-color;
  }
  .line {
    stroke: $secondary-color;
    stroke-width: 2px;
    fill: none;
  }

  .focus-circle {
    fill: $secondary-color;
  }
}

.barChart {
  .bar {
    fill: $primary-color;
  }
}

.boxChart {
  .boxplot-container {
    .small-label {
      @extend .antialiased;
      font-size: 0.785rem;
      font-weight: $base-font-bold;
      fill: $base-font-color;
    }

    line {
      stroke: $secondary-color;
      stroke-width: 1px;
    }

    .box {
      fill: $primary-color;
      stroke: $secondary-color;
      stroke-width: 1px;
    }
  }
  .bar rect {
    fill: $primary-color;
  }
}

.timeChart {
  .small-label {
    @extend .antialiased;
    font-size: 0.750rem;
    font-weight: $base-font-bold;
    fill: $base-font-color;
  }
  .bar-tick {
    text-anchor: middle;
    fill: #fff;
  }
  .bar-axis-tick {
    text-anchor: middle;
    fill: $base-font-color;
    font-size: 0.750rem;
  }

  .legend {
    .legend-item text {
      @extend .antialiased;
      font-size: 0.750rem;
      font-weight: $base-font-bold;
      fill: $base-font-color;
    }
  }

  .color-phase-1 {
    fill: green;
  }
  .color-phase-2 {
    fill: yellow;
  }
  .color-phase-3 {
    fill: red;
  }
}

.scatterplotChart {
  .dot {
    fill: $primary-color;
  }
  .trendline {
    stroke: $secondary-color;
    stroke-width: 2px;
    stroke-dasharray: 2px;
  }
}


// POPOVER

.popover {
  @extend .antialiased;
  background: rgba($base-color, 0.8);
  position: absolute;
  z-index: 9999;
  color: #fff;
  padding: 1rem;
  font-size: 0.85rem;
  line-height: 1.25rem;
  pointer-events: none;
  max-width: 16rem;
}