// GLOBAL

.chart-item {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 44rem;
  float: none;
  @include media(small-up) {
    .chart-group-2 &,
    .chart-group-4 & {
      width: calc(100% / 2 - 1.5rem);
      margin: 0 0.75rem 1rem 0.75rem;
      float: left;
    }
    .chart-group-3 &,
    .chart-group-5 &{
      min-width: 16rem;
      width: calc(100% / 3 - 1.5rem);
      margin: 0 0.75rem 1rem 0.75rem;
      float: left;
    }
  }
}

.chart-title {
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-transform: uppercase;
  font-weight: $base-font-bold;
  text-align: center;
  margin-bottom: 1rem;
}

.chart {
  width: 100%;
  display: block;

  .small-label {
    @extend .chart-title;
    fill: tint($base-color, 44%);
  }

  .axis text {
    font-size: 0.875rem;
    fill: rgba($base-color, 0.64);
    font-weight: $base-font-regular;
  }

  .axis-lines {
    stroke: rgba($base-color, 0.12);
    stroke-width: 1px;
    fill: none;
  }

  .x.axis {
    .tick line {
      display: none;
    }
    .domain {
      display: none;
    }
  }
}

.lineChart, .barChart, .scatterplotChart {
  min-height: 300px;
}

.lineChart {
  .area {
    fill: $primary-color;;
  }
  .line {
    stroke: shade($primary-color, 48%);
    stroke-width: 1px;
    fill: none;
  }

  .focus-circle {
    fill: shade($primary-color, 48%);
  }
}

.barChart {
  .bar {
    fill: $primary-color;
    stroke: #fff;
    stroke-width: 0.5px;
  }
}

.boxChart {
  .boxplot-container {

    line {
      stroke: shade($primary-color, 48%);
      stroke-width: 1px;
      fill: none;
    }

    .box {
      fill: $primary-color;
      stroke: shade($primary-color, 48%);
      stroke-width: 1px;
    }
  }
}



.timeChart {

  .bar-tick {
    text-anchor: middle;
    fill: #fff;
    @extend .antialiased;
  }
  .bar-axis-tick {
    text-anchor: middle;
    fill: $base-font-color;
    font-size: 0.750rem;
  }

  .legend {
    .legend-item text {
      font-size: 0.875rem;
      fill: rgba($base-color, 0.64);
      font-weight: $base-font-regular;
    }
  }

  .color-phase-1 {
    fill: $primary-color;
  }
  .color-phase-2 {
    fill: #c5d152;
  }
  .color-phase-3 {
    fill: #b7a448;
  }
  .bar {
    stroke: #fff;
    stroke-width: 0.5px;
  }
}

.scatterplotChart {
  .dot {
    fill: $primary-color;
  }
  .trendline {
    stroke: rgba($base-color, 0.32);
    stroke-width: 1px;
    stroke-dasharray: 4px;
    fill: none;
  }
}


// POPOVER

.popover {
  @extend .antialiased;
  background: rgba($base-color, 0.8);
  position: absolute;
  z-index: 9999;
  color: #fff;
  padding: 1rem;
  font-size: 0.85rem;
  line-height: 1.25rem;
  pointer-events: none;
  max-width: 16rem;
}